@model HospitalManagementSystem.Models.AppointmentDTO

@{
    ViewData["Title"] = "Create Appointment";
}

<h1>Create Appointment</h1>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="AppointmentDate" class="control-label">Appointment date</label>
        <input asp-for="AppointmentDate" class="form-control" />
        <span asp-validation-for="AppointmentDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DoctorId" class="control-label">Doctor</label>
        <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
        <span asp-validation-for="DoctorId" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PatientId" class="control-label">Patient</label>
        <select asp-for="PatientId" class="form-control" asp-items="ViewBag.Patients"></select>
        <span asp-validation-for="PatientId" class="text-danger"></span>
    </div>
    <div class="form-group mt-2">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>
